<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'supplier_sidebar.html' %}
 <div class="page-content" >
<div class="page-header" >
          <div class="container-fluid">

          </div>
        </div>
        <!-- Breadcrumb-->

        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
              <!-- Basic Form-->
              <div class="col-lg-6">
                <div class="block">
                  <div class="title"><strong class="d-block">Approve form</strong><span class="d-block"></span></div>
                  <div class="block-body">
                    <form action="/save_approve_form/{{data.id}}" method="POST" enctype="multipart/form-data">{% csrf_token %}

                           <div class="form-group">
                        <label class="form-control-label">Consumer</label>
                        <input type="text" placeholder="Category" class="form-control" name="supplier" value="{{data.consumer.name}}">
                      </div>
                                    <div class="form-group">
                        <label class="form-control-label">Material</label>
                        <input type="text"  class="form-control" name="category" value="{{data.material.material}}">
                      </div>
                                    <div class="form-group">
                        <label class="form-control-label">Delivery Date</label>
<input type="date" class="form-control" name="delivery_date">
                                    </div>

                      <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-primary">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
 </div>
</body>
</html>